<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{news_form.title}}</title>
</head>
<body>
	<h2>{{news.title}}</h2>
	<p>{{news.content}}</p>
	{% if comments %}
	<ul>
		{% for com in comments %}
		<li>
			<p>{{com.name}}</p>
			<p>{{com.text}}</p>
		</li>
		{%endfor%}
	</ul>
	{%else%}
		<p>Новостей нет</p>
	{%endif%}

	<form method="post" action="/news/{{news_id}}">
		{%csrf_token%}
		<p>{{commentary_form.as_p}}</p>

		<button type="submit">Сохранить</button>
	</form>
</body>
</html>