<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <h1>Объявления</h1>

    {% if advertisements %}
    <ul>
        {% for adv in advertisements %}
        <li>
            {{ adv.title}} (Цена: {{adv.price}} руб.)
            <p>Дата создания {{adv.created_at}}</p>
            <p>Количество просмотров {{adv.views_count}}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Объявлений нет</p>
    {% endif %}
</body>
</html>