<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>КУРСЫ</title>
</head>
<body>
    <h1>ПРОШЕЛ ВСЕ КУРСЫ СКИЛЛБОКС!</h1>
    <h2>Продаю готовые домашние задания</h2>
    <ul>
        <li>
            <a href="/advertisements/Python">Python</a>
        </li>
        <li>
            <a href="/advertisements/Java">Java</a>
        </li>
        <li>
            <a href="/advertisements/JS">JS</a>
        </li>
        <li>
            <a href="/advertisements/WEB">WEB</a>
        </li>
        <li>
            <a href="/advertisements/PHP">PHP</a>
        </li>
        <li>
            <a href="/advertisements/Kotlin">Kotlin</a>
        </li>
    </ul>
</body>
</html>